  <div *ngFor="let employee of employees">
      <mat-card class="employee">
        <mat-card-header>
          <mat-card-title>
            {{ employee.name | uppercase}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{ employee.dateOfBirth | date: "fullDate" }}
          </p>
        </mat-card-content>
        <mat-card-content>
            <p>
              {{ employee.function }}
            </p>
          </mat-card-content>
          <mat-card-content>
            <p>
              {{ employee.salary }}
            </p>
          </mat-card-content>
        <mat-card-content>
          <p>
            {{ employee.categoryId }}
          </p>
        </mat-card-content>
          
       <button><mat-icon (click)="redirectToEdit(employee.id)">edit</mat-icon></button>
       <button><mat-icon (click)="deleteEmployee(employee.id)">delete</mat-icon></button>
      </mat-card>
  </div>
  