<app-filter (emitSelectedFilter)="receiveCategory($event)"></app-filter> 
<app-employee [selectedCategoryId]="categoryId" ></app-employee>   
<a href="/app-add-employee">
    <button>add</button>
</a>
