
    <h1 class="page-title">Edit an employee</h1>
    <form class="add-employee-form" autocomplete="off">
        
        <mat-form-field class="employee-title">
            <input matInput name="inputEmployee" placeholder="Employee name" [(ngModel)]="name">
          </mat-form-field>
          <mat-form-field class="employee-dateOfBirth">
              <textarea matInput name="inputEmployee" placeholder="Birthday" [(ngModel)]="dateOfBirth"></textarea>
            </mat-form-field>
            <mat-form-field class="employee-function">
              <textarea matInput name="inputEmployee" placeholder="Function" [(ngModel)]="function"></textarea>
            </mat-form-field>
            <mat-form-field class="employee-salary">
              <textarea matInput name="inputEmployee" placeholder="Salary" [(ngModel)]="salary"></textarea>
            </mat-form-field>
            
            <mat-form-field >
              <mat-label>Choose a category </mat-label>
              <mat-select *ngIf="categories" [(ngModel)]="idCategoryEmployee" name="categ">
                  <mat-option *ngFor="let categ of categories" [value]="categ.name">{{categ.name}}</mat-option>
              </mat-select>
           </mat-form-field> 
         
    </form>
    <button class="add-employee-button" mat-raised-button color="basic" (click)="updateEmployee(null)">Update</button>
   
  