.add-employee {
    width: 350px;
  }
  .page-title {
    margin-top: 25px;
    margin-left: 50px;
  }
  
  .add-employee-form {
    margin-left: 50px;
    width: 250px;
    background-color: rgb(229, 186, 220);
    margin: 20px 10px 20px 10px;
    max-width: 200px;
    min-height: 200px;
   
    align-items: center;
  .employee-name {
      width: 100%;
    }
  .employee-title {
      width: 100%;
    }
  }
  
  .add-employee-button {
    margin-left: 50px;
  }
  